<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "http://jakarta.apache.org/log4j/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %p %c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.FileAppender">
        <param name="File" value="QTrend.log"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %p %c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="SPLIT" class="org.apache.log4j.FileAppender">
        <param name="File" value="QTrend-Splits.log"/>
        <param name="Append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %p %c{1} - %m%n"/>
        </layout>
    </appender>

    <logger name="com.quartz">
        <level value="debug" />
    </logger>

    <logger name="org.springframework">
        <level value="warn" />
    </logger>

    <logger name="Split">
        <level value="info"/>
        <appender-ref ref="SPLIT"/>
    </logger>

    <root>
        <level value="warn"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</log4j:configuration>
