# Directories
.idea/workspace.xml
.idea/libraries
.idea/dataSources
data/
dist/
oldsrc/
success/
errors/
target/
application/classes/
unit-tests/classes/
ant/application
ant/dist
ant/unit-tests
TSE_Quotes/
lib/


# Files
.idea/dataSource.*.xml
*.log
*.csv
**/*.class
bin/set_postgresconfig.bat