# Directories
.idea/workspace.xml
.idea/libraries
data/
dist/
oldsrc/
success/
errors/
application/classes/
unit-tests/classes/
ant/application
ant/dist
ant/unit-tests
TSE_Quotes/
lib/


# Files
*.log
**/*.class
